[Desktop Entry]
Exec=EXECUTABLE_PATH
Name=FileRock
StartupNotify=true
Terminal=false
Type=Application
Categories=Network;
Icon=filerock-client
Comment=FileRock client